<div class="w-full overflow-hidden swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide w-full max-h-[600px] h-full">
      <img
        src="https://images.unsplash.com/photo-1683011149602-ac15c7c5b078?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80"
        alt=""
        class="object-cover w-full h-full"
      />
    </div>
    <div class="swiper-slide w-full max-h-[250px] h-full">
      <img
        src="https://images.unsplash.com/photo-1682687982502-1529b3b33f85?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
        alt=""
        class="object-cover w-full h-full"
      />
    </div>
    <div class="swiper-slide w-full max-h-[250px] h-full">
      <img
        src="https://images.unsplash.com/photo-1683011149602-ac15c7c5b078?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80"
        alt=""
        class="object-cover w-full h-full"
      />
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
