@import "~swiper/swiper-bundle.css";
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}
