<header class="fixed top-0 left-0 right-0 z-50 bg-gray-800">
  <div class="px-2 mx-auto sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <a routerLink="">
          <img
            class="w-auto h-8"
            src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png"
            alt="Logo"
          />
        </a>
      </div>
      <nav class="flex space-x-4">
        <a
          routerLink="/"
          class="px-3 py-2 text-sm font-medium text-gray-300 rounded-md hover:bg-gray-700 hover:text-white"
          >Home</a
        >
        <a
          routerLink="/product"
          class="px-3 py-2 text-sm font-medium text-gray-300 rounded-md hover:bg-gray-700 hover:text-white"
          >Product</a
        >
        <a
          routerLink="admin"
          class="px-3 py-2 text-sm font-medium text-gray-300 rounded-md hover:bg-gray-700 hover:text-white"
          >Admin</a
        >
      </nav>
    </div>
  </div>
</header>
