<div class="container">
  <div class="my-10">
    <h1 class="text-3xl font-bold">DANH SÁCH SẢN PHẨM</h1>
  </div>
  <div class="grid w-full grid-cols-4 gap-5">
    <div class="flex flex-col w-full" *ngFor="let product of products">
      <div class="">
        <img
          src="{{ product.img }}"
          alt=""
          class="max-w-[250px] max-h-[200px] h-full w-full object-cover"
        />
      </div>
      <div class="flex flex-col gap-y-3">
        <a
          [routerLink]="['/product-detail', product.id]"
          class="text-2xl font-semibold"
          >{{ product.name }}</a
        >
        <span class="font-medium text-red-400">{{ product.price }}</span>
      </div>
    </div>
  </div>
</div>
